
  
  <div class="container mt-5">
    <h2>Listado de Citas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Fecha y Hora</th>
          <th>Especialidad</th>
          <th>Observación</th>
          <th>Número de Cita</th>
          <th>accion</th>
        </tr>
      </thead>
      <tbody>
        <!-- //datos -->
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td  >
                <button type="button" class="btn btn-primary" >
                   eliminar
                </button>
              
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  editar
                </button>
            </td>

        </tr>
        <!-- //datos -->
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
        </tr>


        

           
      </tbody>
    </table>
  </div>
  
  
  
  
  
  
